@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

body{ 
  font-family: 'JetBrains Mono', monospace;
  background-color: #1c1a1a;
}
.seccion{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}
.contenedor-btn{
  font-variant: normal;
  font-size: 1rem;
  color: #ede7e7;
  display: flex;
  justify-content: baseline;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  grid-column: span 4 / span 4;
  border-right: 1px dotted white;
}
.error{
  background-color: red;
  padding: 0.4rem 6rem;
  border-radius: 10px;
  margin-top: 0.5em;
  font: 1em sans-serif;
  font-weight: 500;
}
input, textarea{
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
input:focus, textarea:focus{
  outline: 2px solid white;
  outline-style: dashed;
  outline-width: 4px;
}
.contenido {
  grid-column: span 4 / span 4;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  margin: 0 !important;
}
.contenido > p {
  color: #fff;
  font-size: x-large;
  text-align: justify;
  width: 100%;
}
.id{
  position: absolute;
  display: flex;
  right: 1rem;
  color: #f30707
}
.contenedor-icono{
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.texto{
  font-size: 1rem;
  font-weight: 600;
  background: #ff0000;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  float: right;
  
}
.texto:hover{
  text-decoration:rgba(253 29 29 /1) 50% underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.4rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: icono 1s infinite;
  
}
@keyframes icono {
  0% {
    transform: rotateZ(2deg);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    transform: rotateZ(-5deg);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    /* transform: rotateZ(10deg); */
    background: -webkit-linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75%{
    background: -webkit-linear-gradient(270deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100%{
    background: -webkit-linear-gradient(360deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
#titulo{
  width: calc(100% - 1rem);
  font-weight: bold;
}
button{
  background: #ede7e7;
  color:#1c1a1a;
  cursor: pointer;
  border: none;
  padding: 0 1.5rem;
  font-size: large;
  font-weight: 600;
  border-radius: 10px;
  height: 2.5rem;
  max-height: 2.5rem;
  max-width: 10rem;
}
button:hover{
  background: #111010;
  color: #ede7e7;
}
.caja{
  position: relative;
  flex-grow: 1;
  margin: 1rem;
  background: #332f2f;
  margin-left: 2rem;
  padding: 0 1rem;
  border: none;
  border-radius: 10px;
  color: #ffff;
  width: 12.5em;
}