@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

body{ 
  font-family: 'JetBrains Mono', monospace;
  background-color: #102420;
}
h1{
  text-align: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(126,190,132,1) 8%, rgba(150,189,116,1) 18%, rgba(161,189,108,1) 36%, rgba(253,187,45,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.seccion{
  padding: 6rem 2rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}
.contenedor-btn{
  position: relative;
  padding: 0 1rem;
  font-variant: normal;
  font-size: 1rem;
  font-weight: bold;
  color: #959d98;
  display: flex;
  justify-content: baseline;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  grid-column: span 4 / span 4;
  border-left: 3px dashed #1c1a1a;
}
.error{
  background-color: red;
  padding: 0.4rem 6rem;
  border-radius: 10px;
  margin-top: 0.5em;
  font: 1em sans-serif;
  font-weight: 500;
  color: #ffffff !important;
}
input, textarea{
  width: 250px;
  padding: 0.5rem;
  margin: 1rem 0;
  border: none;
  border-radius: 5px;
}
input:focus, textarea:focus{
  outline: 0 solid #306844;
  outline-style: auto;
  outline-width: 0.5px;
}
form > p{
  margin: initial;
}
.contenido {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-wrap: break-word;
  margin: 0 !important;
  width: 100%;
}
.contenido > p {
  color: #fff;
  font-size: x-large;
  text-align: justify;
  width: 100%;
}
.id{
  position: absolute;
  display: flex;
  top: -1rem;
  right: 1rem;
  color: #306844;
}
.contenedor-icono{
  display: flex;
  justify-content: space-around;
  padding: 0.4rem 0;
}
.texto#eliminar{
  background: #ff0000;
  background-clip: text;
  -webkit-background-clip: text;
}
.texto#eliminar:hover{
  background: -webkit-linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: backgroundMove 5s linear infinite;
}
.texto#editar{
  background: #759242;
  background-clip: text;
  -webkit-background-clip: text;
}
.texto#editar:hover{
  background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(126,190,132,1) 35%, rgba(161,189,108,1) 75%, rgba(253,187,45,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: backgroundMove 5s linear infinite;
}
.texto{
  font-size: 1rem;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  float: right;
}
.texto:hover{
  cursor: pointer;
  text-shadow: 5px 5px solid black;
  text-decoration:rgb(255, 255, 255) 50% underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.4rem;
  transition: 1s; 
}
#titulo{
  width: calc(100% - 1rem);
  font-weight: bold;
}
.botones{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
button{
  background: #ede7e7;
  color:#1c1a1a;
  cursor: pointer;
  border: none;
  padding: 0 1.5rem;
  font-size: medium;
  font-weight: 600;
  border-radius: 10px;
  height: 2.5rem;
  max-height: 2.5rem;
  max-width: 10rem;
}
button#reiniciar{
  offset-anchor: 1px;
}
button:hover{
  background: #111010;
  color: #ede7e7;
}
.caja{
  position: relative;
  flex-grow: 1;
  margin: 1rem;
  background:#182c25;
  margin-left: 2rem;
  padding: 0 1rem;
  border: none;
  border-radius: 10px;
  color: #ffff;
  max-width: 100%;
  min-width: 20rem;
}
@keyframes backgroundMove {
  to{
    background-position: 20vw;
  }
}

@media (max-width: 768px) {
  .seccion{flex-direction: column;}
  .contenedor-btn{border: 0;}
  .contenido{padding: 0; gap: 5px; overflow-x: hidden; max-width: 100%;}
  div.caja{margin: 0 !important; padding: 10px; max-width: 100% !important; min-width: 10rem;}
}